<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WallbaseDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />    </startup>
    <userSettings>
        <WallbaseDownloader.Properties.Settings>
            <setting name="savePath" serializeAs="String">
                <value />
            </setting>
            <setting name="toSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useAsync" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="nameDate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sort" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="createList" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="createLog" serializeAs="String">
                <value>False</value>
            </setting>
        </WallbaseDownloader.Properties.Settings>
    </userSettings>
</configuration>